{{template "base" .}}

{{define "content"}}
        <div class="container">


            <div clas="row">
                <div class="col">
                  <h1> Make a reservation</h1>
                  <p><strong>Reservation Details</strong></p>

                  {{$res := index .Data "reservation"}}

                  <form action="/make-reservation" method="post" class="" novalidate >
                  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
  
                    <div class="form-group mt-5">

                      <label for="first-name">First Name</label>
                      {{with .Form.Errors.Get "first-name"}}
                        <label class="text-danger">{{.}}</label>

                      {{end}}
                      <input required type="text" name="first-name" id="first-name" value="{{$res.FirstName}}"
                      class="form-control {{with .Form.Errors.Get "first-name"}} is-invalid {{end}}"
                       autocomplete="off">
                    </div>
                    <div class="form-group">

                      <label for="last-name">Last Name</label>
                      {{with .Form.Errors.Get "last-name"}}
                        <label class="text-danger">{{.}}</label>

                      {{end}}
                      <input required value="{{$res.LastName}}" type="text" name="last-name" id="last-name" class="form-control {{with .Form.Errors.Get "last-name"}} is-invalid {{end}}" required autocomplete="off">
                    </div>

                    <div class="form-group">

                      <label for="email">Email address</label>
                      
                      {{with .Form.Errors.Get "email"}}
                        <label class="text-danger">{{.}}</label>

                      {{end}}
                      <input required value="{{$res.Email}}" type="text" name="email" id="email" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" required autocomplete="off">
                    </div>
                    <div class="form-group">

                      <label for="phone">Phone number</label>
                      
                      {{with .Form.Errors.Get "phone"}}
                        <label class="text-danger">{{.}}</label>

                      {{end}}
                      <input class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}" type="text" name="phone" id="phone" value="{{$res.LastName}}" required autocomplete="off">
                    </div>

                    <hr>

                    <input type="submit" class="btn btn-primary" value="Make reservation">
                  </form>

                </div>
            </div>

        </div>

{{end}}