{{template "base" .}}

{{define "content"}}
        <div class="container">


            <div clas="row">
                <div class="col">
                  <h1> Make a reservation</h1>

                  <form method="post" action="" novalidate class="needs-validation">

                    <div class="form-group mt-5">

                      <label for="first-name">First Name</label>
                      <input required type="text" name="first-name" id="first-name" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">

                      <label for="last-name">Last Name</label>
                      <input required type="text" name="last-name" id="last-name" class="form-control" required autocomplete="off">
                    </div>

                    <div class="form-group">

                      <label for="email">Email address</label>
                      <input required type="text" name="email" id="email" class="form-control" required autocomplete="off">
                    </div>
                    <div class="form-group">

                      <label for="phone">Phone number</label>
                      <input class="form-control" type="text" name="phone" id="phone"  required autocomplete="off">
                    </div>

                    <hr>

                    <input type="submit" class="btn btn-primary" value="Make reservation">
                  </form>

                </div>
            </div>

        </div>

{{end}}