{{template "base" .}}

{{define "content"}}
<div class="container">
            <div class="row">
                <div class="col">
                    <img src="/static/images/marjors-suite.png" class="img-fluid img-thumbnail mx-auto d-block room-image">
                </div>

            </div>

            <div clas="row">
                <div class="col">
                    <h1 class="text-center mt-4"> Old London Room</h1>
                    <p>A beautiful cottage lost in the countryside of France.
                        A beautiful cottage lost in the countryside of France.
                        A beautiful cottage lost in the countryside of France.
                        A beautiful cottage lost in the countryside of France.
                        A beautiful cottage lost in the countryside of France.
                        A beautiful cottage lost in the countryside of France.
                        A beautiful cottage lost in the countryside of France.
                        A beautiful cottage lost in the countryside of France.
                        A beautiful cottage lost in the countryside of France.
                        A beautiful cottage lost in the countryside of France.
                        A beautiful cottage lost in the countryside of France.
                        A beautiful cottage lost in the countryside of France.
                        A beautiful cottage lost in the countryside of France.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a href="/reservation-ol.html" class="btn btn-success">Check Availability</a>
                </div>
            </div>
        </div>

{{end}}